<div class="card-header">
      Created By: {{this.author}}, Last Modified: {{this.updatedAt}}, Created On: {{this.createdAt}},
    </div>

    <div class="card-body">
      <h4 class="card-title">{{this.title}}</h4>
      <p class="card-text">{{this.entry}}</p>
      <a href="#" class="btn btn-primary">Submit Story</a>
</div>