<div class="card" id="{{id}}">
      <div class="card-header">
            Created by: {{User.email}}, Created on: {{createdAt}}, Last contributed: {{updatedAt}}
      </div>
      <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">{{entry}}</p>
            <a href="#" class="btn btn-primary contribute" id="{{id}}">Contribute to the Story</a>
            <span>
                  <i class="far fa-heart" id="{{id}}"></i>
            </span>
      </div>

</div>
