
      <div class="card-header">
      Created by: {{author}}, created on: {{createdAt}}, last contributed: {{updatedAt}}
      </div>
      <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">{{entry}}</p>
            <a href="#" class="btn btn-primary">Contribute to the Story</a>
            <span><i class="far fa-heart"></i></span>
      </div>

